html {
    background-image: url("Ningbo-City.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

p {
  color: blue; 
  font-size: 30px;
  background-color: rgba(135, 206, 235, 0.7);
  margin: 5px;
  text-align:center
}

#main-zone {display:flex;gap: 10px; justify-content: center;}
#main-zone img {
    width: 200px;
    max-width: 100%;
}
.overlay {position:relative}

#top-zone {position:relative;
  display:flex;
  gap: 10px;
 justify-content: center;}

#atmosphere {position:absolute;width:200px}

body {
    margin: 0;
    overflow-x: hidden;
}

